<h2>Your link list</h2>
<div id="shorten_actions">
    <ul class="list-group" id="most_recent_links">
        {% for item in items %}
            <li class="list-group-item " id="link">
                <div class="d-flex align-items-center">
                    {{ item.pk }}
                    <span class="text-truncate">{{ item.url }}</span>
                    <a class="ml-auto justify-self-end" href="{{ item.subpart }}" target="_blank">{{ host }}/{{ item.subpart }}</a>
                    <button class="js-copy-link-btn ml-2 btn btn-sm btn-secondary" data-value="{{ host }}/{{ item.subpart }}">Copy</button>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

{% if items.paginator.num_pages > 1 %}

<nav class="d-flex align-item-center justify-content-center mt-3">
    <ul class="pagination">
        {% if items.has_previous %}
            <li class="page-item">
                <a class="page-link" tabindex="-1" href="?page={{ items.previous_page_number }}">Previous</a>
            </li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="#">{{ items.number }}</a></li>
        {% if items.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ items.next_page_number }}">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>

{% endif %}

<script>
    $(function() {
        const $copyLinkBtn = $('.js-copy-link-btn');

        $copyLinkBtn.on('click', function() {
            event.preventDefault();

            const { value } = $(this).data();

            const $fakeTextArea = $(document.createElement('textarea'));
            $fakeTextArea.val(value);
            $fakeTextArea.focus();
            $fakeTextArea.select();

            navigator.clipboard.writeText(value)
                .catch(function() {
                    console.error('problem with copy');
                });
        })
    });
</script>