<h2>Your link list</h2>
<div id="shorten_actions" >
  <ul class="list-group" id="most_recent_links">
    <li class="list-group-item " id="link">

      {% for item in items %}

        <div class="row">
          {{ item.pk }}
          {% if item.url|length > 60 %}
            <span class="long-link column">{{ item.url|truncatechars:60 }}</span>
          {% endif %}
          {% if item.url|length <= 60 %}
            <span class="long-link column">{{ item.url }}</span>
          {% endif %}
          <span>
            <span class="short-link column">
              <a href="{{ item.subpart }}" target="_blank">{{ host }}/{{ item.subpart }}</a>
            </span>
            <span class="copy column">
              <button class="button button-secondary">Copy</button>
            </span>
          </span>
        </div>

      {% endfor %}
    </li>
 </ul>
</div>

{% if items.paginator.num_pages > 1 %}

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if items.has_previous %}
        <li class="page-item">
          <a class="page-link" tabindex="-1" href="?page={{ items.previous_page_number }}">Previous</a>
        </li>
      {% endif %}

      <li class="page-item"><a class="page-link" href="#">{{ items.number }}</a></li>
        {% if items.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ items.next_page_number }}">Next</a>
          </li>
        {% endif %}
    </ul>
  </nav>

{% endif %}