<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Django urls</title>
    {% load static %}
    {% load bootstrap4 %}

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-5">
            <h1 class="mt-2">Django urls</h1>
            <hr class="mt-0 mb-4">
            {% block content %}
            <form action="" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons submit='OK' %}{% endbuttons %}
            </form>

            {% if short_url %}
            <label> Созданное сокращение: <a href="{{ short_url }}" target="_blank">{{ host }}/{{ short_url }}</a>
            </label>
            {% endif %}

            {% endblock %}
        </div>
        <div class="col-12">
            {% include '_links_pagination.html' with items=items %}
        </div>
    </div>
</div>
</body>
</html>
